* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 999px;
}

/* Handle on hover */
:root {
    --theme-primary-color: #6a30ff;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



nav {
    background: var(--theme-primary-color);
    height: 64px;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    z-index: 5;
    position: relative;
    padding: 0px 16px;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

nav h2 {
    color: white;
    font-weight: 500;
    font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
    margin: 0;
}

.addUser {
    width: 100%;
    height: calc(100% - 64px);
    position: relative;
    z-index: 99999;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#messages {
    display: none;
}

#message-send {
    display: flex;
    flex-direction: row;
    background: #E5E4E2;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    gap: 8px;
}

#message-send input {
    border: 0;
    padding: 10px;
    margin-right: 5px;
    border-radius: 50px;
    outline: none;
    flex: 1;
}

input {
    padding: 10px;
    height: 36px;
    outline: none;
}

button {
    width: 70px;
    background: var(--theme-primary-color);;
    border: none;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.chat-actions-container {
    background: white;
    display: flex;
    flex-direction: row;
    flex: 1;
    border-radius: 24px;
}

#message-send button {
    width: 70px;
    background: var(--theme-primary-color);;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.emoji-menu-button {
    background: white;
    border: none;
    color: white;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    width: 37px;
    height: 37px;
    font-size: 20px;
    line-height: 27px;
    padding: 5px;
    display: inline-block;
}

.emoji-dialog-background {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    z-index: 999;
}

.show-background {
    display: block;
}

.typing {
    padding: 5px 10px;
    margin: 10px !important;
}

#messages {
    /* background: #383838; */
    background: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: calc(100vh - 95px);
    overflow-y: auto;
}

#messages li {
    padding: 8px 16px;
    z-index: 1;
    display: table;
    background-color: rgb(204, 204, 204);
    color: rgba(0, 0, 0, .84);
    margin: 0px 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    max-width: 500px;
    clear: both;
}

.my-username {
    float: right;
    /* display: none !important; */
}

.my-message {
    background-color: var(--theme-primary-color) !important;
    color: white !important;
    float: right;
}

.username-content {
    background-color: transparent !important;
    color: grey !important;
    font-size: 12px !important;
    padding: 0px !important;
    margin: 0px 10px !important;
    margin-top: 5px !important;
}

.user-update {
    margin: 10px auto !important;
    background-color: transparent !important;
    color: grey !important;
}

.emoji-dialog {
    margin: 0 auto;
    border-radius: 5px;
    background: white;
    padding: 5px;
    width: 310px;
    height: 280px;
    position: absolute;
    bottom: 5px;
    right: 85px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.43);
    transition: all .15s ease-in-out;
    transform: translate(0px, 0px);
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

.emoji-search {
    height: 35px;
    width: 100%;
}

.emoji-search input {
    height: 30px !important;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 50px;
}

.emoji-search input:focus {
    border: 1px solid var(--theme-primary-color);;
}

.move-up {
    visibility: visible;
    opacity: 1;
    transition: all .15s ease-in-out;
    transform: translate(0px, -50px);
}

.emoji-nav {
    width: 300px;
    height: 40px;
    display: flex;
    position: absolute;
    background: white;
    z-index: 1;
    bottom: 0;
}

.emoji-nav .emoji {
    justify-content: space-between;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    line-height: 40px;
    height: 40px;
}

.emoji-menu {
    background: white;
    width: 300px;
    height: 200px;
    overflow-y: auto;
}

.emoji {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    width: 26px;
    height: 26px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.emoji:hover {
    background: #C6C8CA;
    transition: 0.2s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.active {
    /*   box-sizing:border-box; */
    background: var(--theme-primary-color);
}

.active:hover {
    background: var(--theme-primary-color);;
    transition: .2s;
}